
div{

    width: 400px;
    height: 400px;
    background-image: url('../photo/baby.png');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-attachment: scoll;
    background-position: ;
}


<!-- background-attachment: fixed; -->