
div{

    width: 400px;
    height: 400px;
    background-image: url('../photo/baby.png');
    background-size: 300px auto;

}


<!-- h2{
    color: red;
    text-align: center;
}


body{
    background-image: url('../photo/baby.png');
    background-repeat: no-repeat;
    background-position: top right;
} -->
