
.sohag{
    color: red;
}

.soh{
    color: blue;
    text-align: justify;
    text-transform: uppercase;
    text-transform: capitalize;
    text-indent: 50px;
    font-size: 30px;
    line-height: 30px;
}

p{
    text-decoration: line-through;
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rebeccapurple;
}

.space{
    color: blueviolet;
    letter-spacing: 3px;
    letter-spacing: -1px;
}

.word-spacing{
    word-spacing: 100px;
    font-size: 40px;
    text-shadow: 2px 2px black;
}